.inputContainer {
  max-width: 350px;
  height: 30px;
  width: 100%;
  background: #d8d7d7;
  border-bottom: 2px solid #d8d7d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  transition: all 0.5s ease;

  &:focus-within {
    border-bottom: 2px solid #483d8b;
    svg {
      color: #483d8b;
    }
  }

  .inputBox {
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
    transition: all 0.5s ease;

    svg {
      font-size: 1.2rem;
    }
  }

  input {
    margin-left: 0.5rem;
    outline: none;
    border: none;
    height: 30px;
    background: none;
    width: 100%;
    transition: all 0.5s ease;
    &:focus::placeholder {
      color: #483d8b;
    }
  }

  .errorMessage {
    position: absolute;
    left: 10px;
    top: 28px;
    font-size: 0.6rem;
    color: crimson;
    font-weight: 700;
  }
}
